body{
    margin: 0;
}

header, .container{
    display: flex;
    justify-content: center;
}

.firstRow, .secondRow, .thirdRow {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.playerNotifications{
    display: flex;
    justify-content: center;
}